---
layout: single
thisId : '1'
---

<ul>
{% for member in site.data.kicsMeta %}
 {% if member.id == page.thisId %}

  {% capture var01 %}
       {{ member.desc }}
  {% endcapture %}

  <p>{{ var01 }}</p>

 {% endif %}
{% endfor %}
</ul>

{{ content }}

<ul>
{% for member in site.data.kicsMeta %}
 {% if member.parentId == page.thisId %}

  {% capture var01 %}
       {{ member.desc }}
  {% endcapture %}

  {% capture var02 %}
    ## {{ member.id }}. {{ member.title }}
  {% endcapture %}

  <h2><a href="{{ member.path | relative_url }}">{{ member.title }}</a></h2>
  <p>{{ var01 }}</p>

 {% endif %}
{% endfor %}
</ul>
